doctype
html
  head
    title Garage Door Control
  body
    if pi.status == 0
     h2 The garage door is closed.
    else
     h2 The garage door is open.
    form(action='/refresh/' + user)
     input(type="submit", value="Refresh Status")
    form(action="/door/activate" method="post")
     input(type="submit", value="Activate Door")
  footer
    hr
    p Last update #{pi.updated}.
