doctype
html
  head
    title Garage Door Control
    link(rel='apple-touch-icon', sizes='120x120', href='/static/touch-icon-iphone-retina.png')
    link(rel='stylesheet', href='/static/style.css')
    meta(name="viewport", content="width=device-width, user-scalable=no, minimal-ui")
  body
    div(style="text-align:center")
     form(action="/door/activate" method="post")
       if status == 0
         input(type="image", src="/static/app-icon-GarageDoor-closed.png", width="120", height="120")
       else
         input(type="image", src="/static/app-icon-GarageDoor-open-120x120.png", width="120",  height="120" )
