doctype
html
  head
    title Garage Door Control
    link(rel='apple-touch-icon', sizes='120x120', href='/static/touch-icon-iphone-retina.png')
    link(rel='stylesheet', href='/static/style.css')
    meta(name="viewport", content="width=device-width, user-scalable=no, minimal-ui")
    meta(http-equiv="refresh", content="10;url=/")
  body
    h1 Activating door...
